<mat-sidenav-container class="example-container" (backdropClick)="sidenav.close()">
    <mat-sidenav #sidenav (keydown.escape)="sidenav.close()" disableClose>
        <div class="icon-back">
          <button mat-button (click)="sidenav.close()">
            <span class="material-icons">menu_open</span>
        </button>  
        </div>
        
        <ul>
            <li href="#" routerLink='/' (click)="sidenav.close()">Home</li>
            <li href="#" routerLink='/postagens' (click)="sidenav.close()">Postagens</li>
            <li href="#" routerLink='/albuns' (click)="sidenav.close()">Albuns</li>
            <li href="#" routerLink='/todos'  (click)="sidenav.close()">TO-DOs</li>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <button mat-button (click)="sidenav.open()">
                <span class="material-icons">menu</span>
            </button>
            <img src="../assets/logo-framework.svg" />
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>