<div class="home">
  <div class="home-title">
    <h1>Abaixo estão as páginas requeridas para o teste da vaga em desenvolvimento Front-End</h1>
</div>
<div class="home-cards">
    <a routerLink="/postagens">
        <mat-card >
            <img src="../../assets/text-lines.svg" />
            <span>Postagens</span>
            <hr style="border-color: #852EBA; box-shadow: 0 0 10px 1px rgba(150, 56, 212, 0.3);">
            <p>Clicando no card, você verá a listagem de todas as postagens requeridas.</p>
        </mat-card>
    </a>
    <a routerLink="/albuns">
        <mat-card>
            <img src="../../assets/video-play.svg" />
            <span>Albuns</span>
            <hr  style="border-color: rgb(46, 186, 81); box-shadow: 0 0 10px 1px rgba(46, 186, 81, 0.3);">
            <p>Clicando no card, você verá a listagem de todas os albuns requeridos.</p>
        </mat-card>
    </a>
    <a routerLink="/todos">
        <mat-card >
            <img src="../../assets/padnote.svg" />
            <span>TO-DOs</span>
            <hr  style="border-color: rgb(223, 143, 23); box-shadow: 0 0 10px 1px rgba(223, 143, 23, 0.3);">
            <p>Clicando no card, você verá a listagem do TO-DO requerido.</p>
        </mat-card>
    </a>
</div>  
</div>
